<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="TemperatureConnectionString" connectionString="Data Source=.;Initial Catalog=TemperaturMessung;Integrated Security=True"/>
    <add name="ErpConnectionString" connectionString="Data Source=.;Initial Catalog=Erp;Integrated Security=True"/>
  </connectionStrings>
</configuration>