<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SWE_Server.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="DocumentRoot" value="." />
    <add key="NaviFile" value="E:\FH\austria-latest.osm"/>

  </appSettings>
  <connectionStrings>
    <add name="TemperatureConnectionString" connectionString="Data Source=.;Initial Catalog=TemperaturMessung;Integrated Security=True"/>
    <add name="ErpConnectionString" connectionString="Data Source=.;Initial Catalog=Erp;Integrated Security=True"/>
  </connectionStrings>
  <userSettings>
    <SWE_Server.Properties.Settings>
      <setting name="PluginPath" serializeAs="String">
        <value>Plugins</value>
      </setting>
      <setting name="HeaderFile" serializeAs="String">
        <value>index_top.html</value>
      </setting>
      <setting name="FooterFile" serializeAs="String">
        <value>index_bottom.html</value>
      </setting>
      <setting name="Port" serializeAs="String">
        <value>8080</value>
      </setting>
      <setting name="UseHttps" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Certificate" serializeAs="String">
        <value>cert.pfx</value>
      </setting>
      <setting name="PrivateKeyPassword" serializeAs="String">
        <value>sgn123</value>
      </setting>
    </SWE_Server.Properties.Settings>
  </userSettings>
</configuration>